# Dependencies
node_modules/
/.pnp
.pnp.*

# Next.js
/.next/
/out/
/build/

# Production
/dist/

# Environment variables
.env*
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Coverage
/coverage/

# OS and editor files
.DS_Store
*.pem
.vscode/*
!.vscode/extensions.json
